.skills-container{
  margin-top: 16.31rem;
  position: relative;
}
.skills-wrapper {
  max-width: 1200px;
  margin: auto;
  height: 15.9375rem;
  border-radius: 1.25rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.skills-title {
  width: 6.136rem;
  position: absolute;
  top: 44%;
  padding: 1rem 7rem;
  height: 2.75rem;
  transform: rotate(-90.562deg);
  color: #2E4357;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.3125rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.skill {
  display: flex;
  gap: 2rem;
  width: 40%;
}

.skill p {
  color: #2E4357;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 16rem;
}

@media screen and (min-width: 1800px) {
  .skills-wrapper{
    max-width: 1600px !important;
  }
}
@media screen and (min-width: 1600px) {
  .skills-wrapper{
    max-width: 1400px;
  }
}
@media screen and (max-width: 767px) {
  .skills-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:none;
    height: auto;
  }
  .skills-title{
    transform: none;
    position: relative;
    box-shadow:none;
  }
  .skills{
    margin-left: 0;
    flex-direction: column;
  }
  .skill{
    width: 100%;
  }
  }

@media screen and (min-width: 1024px) { 

}