footer {
  margin-top: 2.31rem;
  margin-bottom: 1.81rem;
}

.footer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 0.75rem;
  padding: 0 1rem;
}

.footer-wrapper p {
  color: #000;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 1800px) {
  .footer-wrapper{
    max-width: 1600px !important;
  }
}
@media screen and (min-width: 1600px) {
  .footer-wrapper{
    max-width: 1400px;
  }
}
@media screen and (max-width: 767px) {

  }

@media screen and (min-width: 1024px) { 

}